
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_image{
    display: flex;
    max-width: 100%;
}
.thumbnails{
    display: flex;
    margin-top: 5px;
}
.thumbnails img{
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    max-height: 150px;

    margin: auto 3px;
}


/* mobilbrug */
@media screen and (max-width: 600px) {
    .thumbnails img{
        height: 80px;
        width: 80px;
    }
}